
body {
	font-family: "arial", "verdana";
	padding: 5 5 5 5;
	background: rgb(240,240,240);
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 14px;
	font-style: normal;
	font-weight: lighter;
	color: rgb(100,100,100);
	margin-top: -25px;
	margin-left: 5px;
}

.ie {
	color: rgb(11,72,107);
}

a:link {
	color: rgb(0,160,176);
	text-decoration: none; 
}
a:active {
	color: rgb(0,160,176);
	text-decoration: none;
}
a:visited {
	color: rgb(0,160,176);
	text-decoration: none;
}
a:hover {
	color: rgb(235,104,65);
	text-decoration: none; 
}

